* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #000;
}

.dn {
	display: none !important;
}

//
.TMMNicknameGenerator {
	max-width: 400px;
	margin: auto;
	background: #242424;
	border-radius: 4px;
	// padding-bottom: 1em;

	img {
		max-width: 100%;
		height: 250px;
		object-fit: cover;
		width: 100%;
		object-position: top center;
	}

	.TMMNGItemTop {

		//   Image
		.TMMNGItemImg {}

		//   Header
		.TMMNGItemHeader {
			color: #fff;
			font-size: 1.4em;
			font-weight: 900;
			padding: 0.5em;
			text-align: center;
		}
	}

	//   Answers Wrap
	.TMMNGItemQuizWrap {}

	.TMMNGItemAnswer {
		display: flex;

		[type="radio"] {
			display: none;

			+label {
				color: #fff;
				text-align: center;
				display: block;
				width: calc(100% - 4em);
				max-width: 100%;
				border: 1px solid #afafaf;
				padding: 1em;
				margin: 0 auto 1em;
				cursor: pointer;
				border-radius: 8px;

				&:hover {
					background-color: darken(#850c0f, 20%);
				}
			}

			// Checked
			&:checked {
				+label {
					background-color: #850c0f;
				}
			}
		}
	}
}

// 4
.TMMNGFooterWrap {
	color: #fff;
	display: flex;
	justify-content: space-around;
	min-height: 2em;
	align-items: center;

	.TMMNGFooterCenter {
		width: 50%;
		text-align: center;
	}

	.TMMNGFooterSide {
		width: 25%;
		text-align: center;
	}

	.TMMNGblank {
		* {
			display: none;
		}
	}

	.TMMNGdots {
		font-size: 0;

		.TMMNGdot {
			display: inline-block;
			width: 6px;
			height: 6px;
			background: #fff;
			border-radius: 100%;
			margin: 0 3px;
		}

		.TMMNGdotDone {
			background: #5f0e12 !important;
		}

		.TMMNGdotActive {
			transform: scale(1.5);
			background: #5f0e12 !important;
			outline: 1px solid #5f0e12;
			outline-offset: -1px;
		}
	}

	.generateNicknameButton {
		background: #5f0e12;
		padding: .5em;
		display: inline-block;
		margin: 4px 0;
		border-radius: 4px;
	}
}

// 
.NicknameGeneratorResultsWrap {
	.NicknameGeneratorResults {
		min-height: 350px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;

	}
}

.NicknameGeneratorResults {
	position: relative;
	overflow: hidden;
}

.NNGRBackground {
	position: absolute;
	inset: 0;
	z-index: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center bottom;
		filter: blur(5px) sepia(0.5);
		transform: scale(1.25);
	}
}

.NNGRContentWrap {
	position: absolute;
	inset: 1em;
    display: flex;
    flex-direction: column;
	.NNGRContent {
		height: 100%;
	}

	.NNGRFooter {
		display: flex;
		justify-content: space-between;

		>div {
			width: 40%;

			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

// Sub 
.questResultsSubInfo {
	max-width: 400px;
	margin: auto;
	color: #fff;
	text-align: center;
	margin-top: 2em;

	.questIconList {
		padding: 1em;
	}

	.ResultsSubInfoButtons {
		background-color: #5E0000 !important;
		display: inline-block;
		color: #fff;
		padding: 8px 16px;
		text-decoration: unset;
	}
}