/*
NicknameGeneratorItem 
NicknameGeneratorItemActive
NicknameGeneratorItemWide
NicknameGeneratorItemStack
*/
$NGWidth: 1024px;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	min-height: 100vh;
	display: flex;
	// align-items: center;
	// justify-content: center;
	flex-direction: column;
	font-family: ronnia, sans-serif;
	font-weight: 400;
	font-style: normal;

}

.dn {
	display: none !important;
}

.wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em;
}

// Variables 
$NickGenColDark: #242424;
$NickGenColMedium: #afafaf;
$NickGenColLight: #ffffff;
$NickGenColRed: #850c0f;



$NickGenBaseSize: 16px;

$NickGenOverlayImg1: "https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png";
$NickGenOverlayImg2: "https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_verticalSide.png";



@media (min-width: $NGWidth) {
	* {
		// outline: 1px solid red !important;
	}
}

//
.TMMNicknameGenerator {
	font-size: $NickGenBaseSize;
	margin: auto;
	background: $NickGenColDark;
	border-radius: $NickGenBaseSize / 2;
	overflow: hidden;
	position: relative;
	border: 1px solid #afafaf;
	// min-height: 75vh;

	// PreLoad Images 
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		content: url($NickGenOverlayImg1) url($NickGenOverlayImg2);
	}



	&.TMMNicknameGeneratorDone {
		max-width: 530px;
	}

	img {
		max-width: 100%;

	}

	.TMMNGItemImgWrap {
		position: relative;
	}

	//   Image
	.TMMNGItemImg {
		font-size: 0;
		position: relative;
		height: 100%;

		img {
			max-width: 100%;
			min-height: 250px;
			object-fit: cover;
			width: 100%;
			height: 100%;
			// object-position: top center;
		}

		&:after {
			content: " ";
			position: absolute;
			inset: -2px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-size: 100% 100%;
			background-image: url($NickGenOverlayImg1);

			@media (min-width: $NGWidth) {
				background-image: url($NickGenOverlayImg2);
			}
		}
	}

	.NicknameGeneratorItem {
		height: 100% !important;
		// min-height: 75vh;
	}

	.NicknameGeneratorItemStack {
		.TMMNGItemImg {
			&:after {
				background-image: url($NickGenOverlayImg1);
			}
		}
	}

	//   Header
	.TMMNGItemHeader {
		color: $NickGenColLight;
		font-size: 1.4rem;
		font-weight: 900;
		padding: 0.5em;
		text-align: center;

		h2 {
			text-transform: uppercase;
			margin-top: 2rem;
			text-align: center;
		}

	}

	//   Answers Wrap
	.TMMNGItemAnswer {
		display: flex;

		[type="radio"] {
			display: none;

			+label {
				color: $NickGenColLight;
				font-size: 1.2em;
				text-align: center;
				display: block;
				width: calc(100% - 4em);
				max-width: 100%;
				border: 1px solid $NickGenColMedium;
				padding: .5em 1em;
				margin: 0 auto 1em;
				cursor: pointer;
				border-radius: 8px;

				&:hover {
					background-color: darken($NickGenColRed, 20%);
				}
			}

			// Checked
			&:checked {
				+label {
					background-color: $NickGenColRed;
				}
			}
		}
	}
}

// Footer Wrap
.TMMNGFooterWrap {
	color: $NickGenColLight;
	display: flex;
	justify-content: space-around;
	min-height: 2em;
	align-items: center;
	padding-bottom: 1.25em;

	.TMMNGFooterCenter {
		width: 50%;
		text-align: center;
	}

	.TMMNGFooterSide {
		width: 25%;
		text-align: center;
	}

	.TMMNGblank {
		opacity: 0;
	}

	// The Dots
	.TMMNGdots {
		font-size: 0;


		.TMMNGdot {
			display: inline-block;
			width: 6px;
			height: 6px;
			background: $NickGenColLight;
			border-radius: 100%;
			margin: 0 3px;
		}

		.TMMNGdotActive {
			transform: scale(1.5);
			background: $NickGenColRed  !important;
			outline: 1px solid $NickGenColRed;
			outline-offset: -1px;
		}

		.TMMNGdotDone {
			background: $NickGenColRed  !important;
		}
	}

	// Generate Button
	.generateNicknameButton {
		background: $NickGenColRed;
		display: inline-block;
		margin: 4px 0;
		cursor: pointer;
		color: #fff;
		text-transform: uppercase;
		outline: 0 !important;
		border: 0;
		// margin-bottom: 1em;
		font-family: ronnia, sans-serif;
		font-size: 16px;
		padding: 8px 16px;
		font-weight: 400;
	}
}

// Sub Information 
.questResultsSubInfo {
	max-width: $NGWidth * 1.24;
	margin: auto;
	color: $NickGenColLight;
	text-align: center;
	margin-top: 2em;

	.questIconList {
		padding: 1em;
	}

	.ResultsSubInfoButtons {
		background-color: $NickGenColRed  !important;
		display: inline-block;
		color: $NickGenColLight;
		padding: 8px 16px;
		text-decoration: unset;
		cursor: pointer;
		text-transform: uppercase;
	}
}

/*
-
*/
.NicknameGeneratorResultsWrap {
	.NicknameGeneratorResults {
		min-height: 350px;
		color: $NickGenColLight;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 2.5em;
		padding-bottom: 1.5rem;
	}
}

// 
.NNGRBackground {
	position: absolute;
	inset: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		// filter: blur(4px);
	}

}

.NNGRContentWrap {
	position: relative;

	.NNGRContent {
		position: relative;
		border: 0.75em solid $NickGenColLight;
		transform: rotate(3deg);
		-webkit-backface-visibility: hidden;
		-webkit-background-clip: content-box;
		box-shadow: 0 1rem 2rem #201912;
		.NNGRImage {
			font-size: 0;
		}
	}

	.NNGRUserInfo {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 2rem;

		h2,
		h3 {
			transform: rotate(-3deg);
		}

		h3 {
			background: $NickGenColLight;
			color: #000;
			// text-align: right;
			display: inline-block;
			width: fit-content;
			// align-self: end;
			margin-bottom: .5rem;
			max-width: 80%;
			// right: -0.25rem;
			left: -2rem;
			position: relative;
			padding: .25rem 1rem .25rem .1rem;
			display: flex;
			align-items: center;

			span {

				// text-align: left;
				&:first-of-type {
					color: $NickGenColRed;
					text-transform: uppercase;
					padding: 0 8px;
					white-space: nowrap;
				}
			}
		}

		h2 {
			background: $NickGenColRed;
			width: fit-content;
			padding: 4px 8px;
			left: -2rem;
			position: relative;
			margin-bottom: .5rem;

			.mobName:before {
				content: " \"";
				letter-spacing: 0px;
			}

			.mobName:after {
				content: "\" ";
				letter-spacing: 0px;
			}
		}
	}

	.NNGRFooter {
		margin-top: 2em;
	}
}

.NNGRUserInfo {
	font-size: 0;
}

.NNGRUserInfo h2,
.NNGRUserInfo h3 {
	font-size: 1rem;
}

.NNGRUserInfo h3:first-of-type {
	left: calc(-2rem + 2px);
}

.NNGRUserInfo h3:nth-child(3) {
	left: calc(-2rem + 4px);
}


.NNGRUserInfo h3:nth-child(4) {
	left: calc(-2rem + 7px);
}

// Text Inputs 
.TMMNGItemTextAnswerWrap {
	display: flex;
	gap: 1em;
	padding: 0 1em;
	justify-content: center;

	.TMMNGItemTextAnswer {
		flex: 1;
		width: 100%;
		min-width: 200px;
		max-width: 25%;

		input {
			width: 100%;
			border: none;
			background-image: none;
			background-color: #242424;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border-bottom: 1px solid #cfcfcf;
			border-radius: 0px;
			padding: 13px 8px;
			color: $NickGenColLight;

			&:focus {
				outline: 0;
			}

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-box-shadow: 0 0 0 30px #242424 inset !important;
				color: #fff !important;
			}

			&:-webkit-autofill {
				-webkit-text-fill-color: #fff !important;
			}

			// Error 
			&.errorFilloutInputNG {
				background-color: #fff !important;

				&:focus {
					background-color: #242424 !important;
					color: $NickGenColLight  !important;

					&::placeholder {
						color: #fff;
					}

					&:-ms-input-placeholder {
						color: #fff;
					}

					&::-ms-input-placeholder {
						color: #fff;
					}
				}

				&::placeholder {
					color: #850c0f;
					opacity: 1;
					font-weight: 600;
				}

				&:-ms-input-placeholder {
					color: #850c0f;
					font-weight: 600;
				}

				&::-ms-input-placeholder {
					color: #850c0f;
					font-weight: 600;
				}
			}
		}
	}
}

// Bottom two logos 
.NNGRFooter {
	display: flex;
	justify-content: space-between;

	>div {
		width: 40%;

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}

// Desktop Only 
@media (min-width: $NGWidth) {
	.TMMNicknameGenerator {
		width: 100%;
		min-height: 55vh;

		.NicknameGeneratorItem {
			display: none;
			min-height: 55vh;

			&.NicknameGeneratorItemActive {
				display: flex;
				flex-direction: row-reverse;
			}

			&.NicknameGeneratorItemWide {
				.TMMNGItemImgWrap {
					width: 40%;
				}

				.TMMNGItemQuizWrap {
					width: 60%;
				}
			}

			&.NicknameGeneratorItemStack {
				&.NicknameGeneratorItemActive {
					display: block !important;
					padding-bottom: 4em;

					.TMMNGItemImgWrap {
						width: 100%;
					}

					.TMMNGItemQuizWrap {
						width: 100%;

					}
				}

				.TMMNGItemImg img {
					max-height: calc(75vh / 1.75);
					object-position: center;
					// object-position: 20px 0;
				}

			}
		}

		.TMMNGItemImgWrap {
			width: 50%;

			.TMMNGItemImg img {
				min-height: 450px;
				height: 100%;
			}
		}

		.TMMNGItemQuizWrap {
			width: 50%;
			// padding-top: 2rem;
			padding-bottom: 3rem;
		}

		// 
		.TMMNGItemHeader {
			text-align: left;
			padding-left: 1.5em;
			margin-bottom: 1.5em;
		}

		.TMMNGItemAnswer [type=radio]+label {
			text-align: left;
		}

		// 
		.TMMNGFooterWrap {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 7;

			.TMMNGFooterSide {
				text-align: left;
				padding-left: 2.25em;

				&.TMMNGback {
					>span {
						cursor: pointer;
					}
				}

			}
		}
	}
}

// Mobile Only
@media (max-width: $NGWidth) {

	// 
	.TMMNGFooterWrap {
		flex-direction: column-reverse;
		padding-bottom: 1em;
		padding-top: 1em;
	}

	.TMMNGFooterWrap>* {
		width: 100% !important;
	}

	.TMMNGFooterWrap .TMMNGFooterSide.TMMNGback {
		text-align: left;
		padding-left: 1em;
	}

	// 4
	.TMMNGItemTextAnswerWrap {
		flex-direction: column;

		.TMMNGItemTextAnswer {
			align-self: center;
			max-width: 350px;
		}
	}

	.TMMNGItemTextAnswerWrap input {
		// border-radius: 0 !important;
		// border-color: transparent !important;
		// border-bottom-color: #afafaf !important;
	}

	// 
	.NNGRContentWrap .NNGRUserInfo h2,
	.NNGRContentWrap .NNGRUserInfo h3 {
		font-size: 14px;
		max-width: 100%;
		padding-right: 14px !important;
	}

	.NNGRContentWrap .NNGRUserInfo {
		padding-bottom: 14px;
	}

	.NNGRContentWrap .NNGRContent {
		border-width: 7px;


		
	}

	// 
	.TMMNicknameGenerator .TMMNGItemImg img {
		height: 250px !important;
		height: 350px !important;
	}

	.TMMNicknameGenerator .TMMNGItemHeader h2 {
		margin-top: 0em !important;
	}

	.TMMNicknameGenerator .TMMNGItemHeader h2 {
		line-height: 1.2;
		font-size: 1.2em;
		margin-bottom: .75em;
	}
}




// .NicknameGeneratorResults {
//     border-radius: 40px !important;
//     overflow: hidden;
// }

.questIconListItem {
	padding: 0 .5em;
	transition: all 500ms ease;
	display: inline-block;

	a {
		color: transparent;
	}

	b {
		cursor: pointer;
		position: relative;
		overflow: hidden !important;
		display: inline-block;

		&:hover {
			opacity: .9;
			transition: all 300ms ease;
		}
	}

	svg {
		max-width: 2.5em;
	}

	iframe {
		background: green;
		padding: 4px;
		position: absolute !important;
		transform: translateY(50%);
		top: 0 !important;
		height: 100% !important;
		width: 100% !important;
		transform: scale(3.5) translateY(31%);
		opacity: .0001;
	}

	.TMMNGItemQuizWrap .fb-share-button.fb_iframe_widget,
	.fb-share-button.fb_iframe_widget>span {
		background: red;
		display: contents;
	}

}