/*
NicknameGeneratorItem 
NicknameGeneratorItemActive
NicknameGeneratorItemWide
NicknameGeneratorItemStack
*/
$NGWidth: 530px;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: ronnia, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

.dn {
	display: none !important;
}

.NGwrap {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2em;

	@media (max-width: $NGWidth) {
		padding: .5em;
	}
}

// Variables 
$NickGenColDark: #242424;
$NickGenColMedium: #afafaf;
$NickGenColLight: #ffffff;
$NickGenColRed: #850c0f;

$NickGenBaseSize: 16px;

$NickGenOverlayImg1: "https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png";
$NickGenOverlayImg2: "https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_verticalSide.png";

//
.TMMNicknameGenerator {
	font-size: $NickGenBaseSize;
	margin: auto;
	background: $NickGenColDark;
	border-radius: calc($NickGenBaseSize / 2);
	overflow: hidden;
	position: relative;
	border: 1px solid #afafaf;

	// PreLoad Images 
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		content: url($NickGenOverlayImg1) url($NickGenOverlayImg2);
	}

	&.TMMNicknameGeneratorDone {
		max-width: $NGWidth;
	}

	img {
		max-width: 100%;

	}

	.TMMNGItemImgWrap {
		position: relative;
	}

	//   Image
	.TMMNGItemImg {
		font-size: 0;
		position: relative;
		height: 100%;

		img {
			max-width: 100%;
			min-height: 250px;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		&:after {
			content: " ";
			position: absolute;
			inset: -2px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-size: 100% 100%;
			background-image: url($NickGenOverlayImg1);

			@media (min-width: $NGWidth) {
				background-image: url($NickGenOverlayImg2);
			}
		}
	}

	.NicknameGeneratorItem {
		height: 100% !important;
	}

	.NicknameGeneratorItemStack {
		.TMMNGItemImg {
			&:after {
				background-image: url($NickGenOverlayImg1);
			}
		}
	}

	//   Header
	.TMMNGItemHeader {
		color: $NickGenColLight;
		font-size: 1.4rem;
		font-weight: 900;
		padding: 0.5em;
		text-align: center;

		h2 {
			text-transform: uppercase;
			margin-top: 2rem;
			text-align: center;

			span {
				display: inline-block;
			}
		}

	}

	//   Answers Wrap
	.TMMNGItemAnswer {
		display: flex;

		[type="radio"] {
			display: none;

			+label {
				color: $NickGenColLight;
				font-size: 1.2rem;
				text-align: center;
				display: block;
				width: calc(100% - 10%);
				max-width: 100%;
				border: 1px solid $NickGenColMedium;
				padding: .5rem 1rem;
				margin: 0 auto 1rem;
				cursor: pointer;
				border-radius: .5rem;

				&:hover {
					background-color: darken($NickGenColRed, 10%) !important;
				}

				@media (max-width: $NGWidth) {
					font-size: 1rem;
				}
			}

			// Checked
			&:checked {
				+label {
					background-color: $NickGenColRed;
				}
			}
		}
	}
}

// Footer Wrap
.TMMNGFooterWrap {
	color: $NickGenColLight;
	display: flex;
	justify-content: space-around;
	min-height: 2rem;
	align-items: center;
	padding-bottom: 1.25rem;

	.TMMNGFooterCenter {
		width: 50%;
		text-align: center;
	}

	.TMMNGFooterSide {
		width: 25%;
		text-align: center;
	}

	.TMMNGblank {
		opacity: 0;
	}

	// The Dots
	.TMMNGdots {
		font-size: 0;


		.TMMNGdot {
			display: inline-block;
			width: .3333rem;
			height: .3333rem;
			background: $NickGenColLight;
			border-radius: 100%;
			margin: 0 3px;
		}

		.TMMNGdotActive {
			transform: scale(1.75);
			background: $NickGenColRed !important;
			outline: 1px solid $NickGenColRed;
			outline-offset: -1px;
		}

		.TMMNGdotDone {
			background: $NickGenColRed !important;
		}
	}

	// Generate Button
	.generateNicknameButton {
		background: $NickGenColRed;
		display: inline-block;
		cursor: pointer;
		color: $NickGenColLight;
		text-transform: uppercase;
		outline: 0 !important;
		border: 0;
		font-family: ronnia, sans-serif;
		font-size: 1rem;
		padding: .5rem 1rem;
		font-weight: 400;
	}
}

// Sub Information 
.questResultsSubInfo {
	max-width: calc($NGWidth * 1.25);
	margin: auto;
	color: $NickGenColLight;
	text-align: center;
	margin-top: 2rem;

	.questIconList {
		padding: 1rem;
		display: flex;
		justify-content: center;
	}

	.ResultsSubInfoButtons {
		background-color: $NickGenColRed !important;
		display: inline-block;
		color: $NickGenColLight;
		padding: .5rem 1rem;
		text-decoration: unset;
		cursor: pointer;
		text-transform: uppercase;
	}
}

/*
-
*/
.NicknameGeneratorResultsWrap {
	.NicknameGeneratorResults {
		min-height: 350px;
		color: $NickGenColLight;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 10% 10% 5% 10%;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 50%;
			z-index: 1;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}

	.NNGRBackground {
		z-index: 1;
	}

	.NNGRContentWrap {
		z-index: 2;
	}

	//   

}

// 
.questIconListItem {
	padding: 0 .5rem;
	transition: all 500ms ease;
	display: inline-block;

	a {
		color: transparent;
	}

	b {
		cursor: pointer;
		position: relative;
		overflow: hidden !important;
		display: inline-block;

		&:hover {
			opacity: .9;
			transition: all 300ms ease;
		}
	}

	svg {
		max-width: 2.5em;
	}

	iframe {
		padding: 4px;
		position: absolute !important;
		transform: translateY(50%);
		top: 0 !important;
		height: 100% !important;
		width: 100% !important;
		transform: scale(3.5) translateY(31%);
		opacity: .0001;
	}

	.TMMNGItemQuizWrap .fb-share-button.fb_iframe_widget,
	.fb-share-button.fb_iframe_widget>span {
		display: contents;
	}

}

// 
.NNGRBackground {
	position: absolute;
	inset: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}

.NNGRContentWrap {
	position: relative;

	.NNGRContent {
		position: relative;


		.NNGRImage {
			position: relative;
			border: 0.75rem solid $NickGenColLight;
			-webkit-backface-visibility: hidden;
			-webkit-background-clip: content-box;
			box-shadow: 0 1rem 2rem #201912;
			font-size: 0;
			transform: rotate(3deg);
		}
	}

	.NNGRUserInfo {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 2rem;
		// font-size: $NickGenBaseSize;

		h2,
		h3 {
			left: -6%;
			padding: .25rem 1rem;
			padding: .25rem .5rem;
			width: fit-content;
			position: relative;
			line-height: 1;
		}

		h2 {
			background: $NickGenColRed;
			// margin-bottom: 1rem;
			// font-size: 1.33em;

			.mobName:before {
				content: " \"";
				letter-spacing: 0px;
			}

			.mobName:after {
				content: "\" ";
				letter-spacing: 0px;
			}
		}

		h3 {
			background: $NickGenColLight;
			color: #000;
			display: inline-block;
			// margin-bottom: .5rem;
			max-width: 80%;
			display: flex;
			align-items: center;
			// font-size: 1em;

			span {
				&:first-of-type {
					color: $NickGenColRed;
					text-transform: uppercase;
					padding: 0 8px;
					padding-left: 0;
					white-space: nowrap;
				}
			}
		}
	}

	.NNGRFooter {
		margin-top: 2em;
	}
}

.NNGRUserInfo {
	font-size: $NickGenBaseSize;

	@media (max-width: $NGWidth) {
		font-size: $NickGenBaseSize * .75;
	}

	h2,
	h3 {
		margin-bottom: 1em;

		@media (max-width: $NGWidth) {
			margin-bottom: .5em;
		}
	}

	h2 {
		font-size: 1.23em;
	}

	h3 {
		font-size: 1em;
	}
}

// Text Inputs 
.TMMNGItemTextAnswerWrap {
	display: flex;
	gap: 1rem;
	padding: 0 1rem;
	justify-content: center;

	.TMMNGItemTextAnswer {
		flex: 1;
		width: 100%;
		min-width: 200px;
		max-width: 25%;

		input {
			width: 100%;
			border: none;
			background-image: none;
			background-color: #242424;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border-bottom: 1px solid #cfcfcf;
			border-radius: 0px;
			padding: 1rem .5rem .25rem .15rem;
			color: $NickGenColLight;

			&:focus {
				outline: 0;
			}

			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				-webkit-box-shadow: 0 0 0 30px #242424 inset !important;
				color: #fff !important;
			}

			&:-webkit-autofill {
				-webkit-text-fill-color: #fff !important;
			}

			// Error 
			&.errorFilloutInputNG {
				background-color: #fff !important;

				&:focus {
					background-color: #242424 !important;
					color: $NickGenColLight !important;

					&::placeholder {
						color: #fff;
					}

					&:-ms-input-placeholder {
						color: #fff;
					}

					&::-ms-input-placeholder {
						color: #fff;
					}
				}

				&::placeholder {
					color: $NickGenColRed;
					opacity: 1;
					font-weight: 600;
				}

				&:-ms-input-placeholder {
					color: $NickGenColRed;
					font-weight: 600;
				}

				&::-ms-input-placeholder {
					color: $NickGenColRed;
					font-weight: 600;
				}

				&:not(:placeholder-shown) {
					background: transparent !important;
				}
			}
		}
	}
}

// Bottom two logos 
.NNGRFooter {
	display: flex;
	justify-content: space-between;
	position: relative;

	>div {
		width: 40%;

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}

// Desktop Only 
@media (min-width: $NGWidth) {
	.TMMNicknameGenerator {
		width: 100%;
		// min-height: 55vh;

		.NicknameGeneratorItem {
			display: none;
			// min-height: 55vh;

			&.NicknameGeneratorItemActive {
				display: flex;
				flex-direction: row-reverse;
			}

			&.NicknameGeneratorItemWide {
				.TMMNGItemImgWrap {
					width: 40%;
				}

				.TMMNGItemQuizWrap {
					width: 60%;
				}
			}

			&.NicknameGeneratorItemStack {
				&.NicknameGeneratorItemActive {
					display: block !important;
					padding-bottom: 4rem;

					.TMMNGItemImgWrap {
						width: 100%;
					}

					.TMMNGItemQuizWrap {
						width: 100%;

					}
				}

				.TMMNGItemImg img {
					max-height: calc(75vh / 1.75);
					object-position: center;
					// object-position: 20px 0;
				}

			}
		}

		.TMMNGItemImgWrap {
			width: 50%;

			.TMMNGItemImg img {
				min-height: 450px;
				height: 100%;
			}
		}

		.TMMNGItemQuizWrap {
			width: 50%;
			padding-bottom: 3rem;
		}

		// 
		.TMMNGItemHeader {
			text-align: left;
			padding-left: 1.5rem;
			margin-bottom: 1.5rem;

		}

		.TMMNGItemAnswer [type=radio]+label {
			text-align: left;
		}

		// 
		.TMMNGFooterWrap {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 7;

			.TMMNGFooterSide {
				text-align: left;
				padding-left: 2.25rem;

				&.TMMNGback {
					&span {
						cursor: pointer;
					}
				}

			}
		}
	}
}

// Mobile Only
@media (max-width: $NGWidth) {
	.TMMNGFooterWrap {
		flex-direction: column-reverse;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	.TMMNGFooterWrap>* {
		width: 100% !important;
	}

	.TMMNGFooterWrap .TMMNGFooterSide.TMMNGback {
		text-align: left;
		padding-left: 1rem;
	}

	// 4
	.TMMNGItemTextAnswerWrap {
		flex-direction: column;

		.TMMNGItemTextAnswer {
			align-self: center;
			max-width: 350px;
		}
	}

	// 

	.NNGRContentWrap {
		.NNGRContent {
			border-width: .5rem;
		}

		.NNGRUserInfo {
			padding-bottom: 1rem;

			h2,
			h3 {
				max-width: 100%;
				padding-right: 1rem !important;
			}
		}
	}

	.TMMNicknameGenerator {
		.TMMNGItemImg {
			img {
				height: 350px !important;

				@media (max-width: ($NGWidth * .75)) {
					height: 200px !important;
				}
			}
		}

		.TMMNGItemHeader {
			h2 {
				margin-top: 0em !important;
				line-height: 1.2;
				font-size: 1.2em;
				margin-bottom: .75em;

				@media (max-width: ($NGWidth * 1.5)) {
					margin-bottom: 0;
				}
			}
		}
	}
}