/*
NicknameGeneratorItem 
NicknameGeneratorItemActive
NicknameGeneratorItemWide
NicknameGeneratorItemStack
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: ronnia, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dn {
  display: none !important;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2em;
}

.TMMNicknameGenerator {
  font-size: 16px;
  margin: auto;
  background: #242424;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  min-height: 75vh;
}
.TMMNicknameGenerator:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png") url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_verticalSide.png");
}
.TMMNicknameGenerator.TMMNicknameGeneratorDone {
  max-width: 530px;
}
.TMMNicknameGenerator img {
  max-width: 100%;
}
.TMMNicknameGenerator .TMMNGItemImgWrap {
  position: relative;
}
.TMMNicknameGenerator .TMMNGItemImg {
  font-size: 0;
  position: relative;
  height: 100%;
}
.TMMNicknameGenerator .TMMNGItemImg img {
  max-width: 100%;
  min-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: top center;
     object-position: top center;
}
.TMMNicknameGenerator .TMMNGItemImg:after {
  content: " ";
  position: absolute;
  inset: -2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
  background-image: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png");
}
@media (min-width: 1024px) {
  .TMMNicknameGenerator .TMMNGItemImg:after {
    background-image: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_verticalSide.png");
  }
}
.TMMNicknameGenerator .NicknameGeneratorItem {
  height: 100% !important;
  min-height: 75vh;
}
.TMMNicknameGenerator .NicknameGeneratorItemStack .TMMNGItemImg:after {
  background-image: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png");
}
.TMMNicknameGenerator .TMMNGItemHeader {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 900;
  padding: 0.5em;
  text-align: center;
}
.TMMNicknameGenerator .TMMNGItemHeader h2 {
  text-transform: uppercase;
  margin-top: 2rem;
}
.TMMNicknameGenerator .TMMNGItemAnswer {
  display: flex;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio] {
  display: none;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio] + label {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  display: block;
  width: calc(100% - 4em);
  max-width: 100%;
  border: 1px solid #afafaf;
  padding: 0.5em 1em;
  margin: 0 auto 1em;
  cursor: pointer;
  border-radius: 8px;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio] + label:hover {
  background-color: #270404;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio]:checked + label {
  background-color: #850c0f;
}

.TMMNGFooterWrap {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  min-height: 2em;
  align-items: center;
}
.TMMNGFooterWrap .TMMNGFooterCenter {
  width: 50%;
  text-align: center;
}
.TMMNGFooterWrap .TMMNGFooterSide {
  width: 25%;
  text-align: center;
}
.TMMNGFooterWrap .TMMNGblank {
  opacity: 0;
}
.TMMNGFooterWrap .TMMNGdots {
  font-size: 0;
}
.TMMNGFooterWrap .TMMNGdots .TMMNGdot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 100%;
  margin: 0 3px;
}
.TMMNGFooterWrap .TMMNGdots .TMMNGdotActive {
  transform: scale(1.5);
  background: #850c0f !important;
  outline: 1px solid #850c0f;
  outline-offset: -1px;
}
.TMMNGFooterWrap .TMMNGdots .TMMNGdotDone {
  background: #850c0f !important;
}
.TMMNGFooterWrap .generateNicknameButton {
  background: #850c0f;
  padding: 0.5em;
  display: inline-block;
  margin: 4px 0;
  border-radius: 4px;
  cursor: pointer;
}

.questResultsSubInfo {
  max-width: 1269.76px;
  margin: auto;
  color: #ffffff;
  text-align: center;
  margin-top: 2em;
}
.questResultsSubInfo .questIconList {
  padding: 1em;
}
.questResultsSubInfo .ResultsSubInfoButtons {
  background-color: #850c0f !important;
  display: inline-block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: unset;
  cursor: pointer;
  text-transform: uppercase;
}

/*
-
*/
.NicknameGeneratorResultsWrap .NicknameGeneratorResults {
  min-height: 350px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2.5em;
}

.NNGRBackground {
  position: absolute;
  inset: 0;
}
.NNGRBackground img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(4px);
}

.NNGRContentWrap {
  position: relative;
}
.NNGRContentWrap .NNGRContent {
  position: relative;
  border: 0.75em solid #ffffff;
  transform: rotate(3deg);
}
.NNGRContentWrap .NNGRUserInfo {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2em;
}
.NNGRContentWrap .NNGRUserInfo h2,
.NNGRContentWrap .NNGRUserInfo h3 {
  transform: rotate(-3deg);
}
.NNGRContentWrap .NNGRUserInfo h3 {
  background: #ffffff;
  color: #000;
  text-align: right;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  margin-bottom: 0.5em;
  max-width: 80%;
  right: -0.25em;
  position: relative;
  padding: 0.25em 0.5em 0.25em 0.1em;
  display: flex;
  align-items: center;
}
.NNGRContentWrap .NNGRUserInfo h3 span:first-of-type {
  color: #850c0f;
  text-transform: uppercase;
  padding: 0 8px;
}
.NNGRContentWrap .NNGRUserInfo h2 {
  background: #850c0f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  left: -1.5em;
  position: relative;
  margin-bottom: 1rem;
}
.NNGRContentWrap .NNGRUserInfo h2 .mobName:before {
  content: ' "';
  letter-spacing: 0px;
}
.NNGRContentWrap .NNGRUserInfo h2 .mobName:after {
  content: '" ';
  letter-spacing: 0px;
}
.NNGRContentWrap .NNGRFooter {
  margin-top: 2em;
}

.TMMNGItemTextAnswerWrap {
  display: flex;
  gap: 1em;
  padding: 0 1em;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer {
  flex: 1;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input {
  width: 100%;
  border: none;
  background-image: none;
  background-color: #242424;
  box-shadow: none;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  padding: 13px 8px;
  color: #ffffff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill, .TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill:hover, .TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill:focus, .TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #242424 inset !important;
  color: #fff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG {
  background-color: #fff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus {
  background-color: #242424 !important;
  color: #ffffff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus::-moz-placeholder {
  color: #fff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus:-ms-input-placeholder {
  color: #fff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus::placeholder {
  color: #fff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus:-ms-input-placeholder {
  color: #fff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG::-moz-placeholder {
  color: #850c0f;
  opacity: 1;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:-ms-input-placeholder {
  color: #850c0f;
  opacity: 1;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG::placeholder {
  color: #850c0f;
  opacity: 1;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:-ms-input-placeholder {
  color: #850c0f;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG::-ms-input-placeholder {
  color: #850c0f;
  font-weight: 600;
}

.NNGRFooter {
  display: flex;
  justify-content: space-between;
}
.NNGRFooter > div {
  width: 40%;
}
.NNGRFooter > div img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .TMMNicknameGenerator {
    width: 100%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem {
    display: none;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemActive {
    display: flex;
    flex-direction: row-reverse;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemWide .TMMNGItemImgWrap {
    width: 40%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemWide .TMMNGItemQuizWrap {
    width: 60%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack.NicknameGeneratorItemActive {
    display: block !important;
    padding-bottom: 4em;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack.NicknameGeneratorItemActive .TMMNGItemImgWrap {
    width: 100%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack.NicknameGeneratorItemActive .TMMNGItemQuizWrap {
    width: 100%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack .TMMNGItemImg img {
    max-height: 42.8571428571vh;
    -o-object-position: center;
       object-position: center;
  }
  .TMMNicknameGenerator .TMMNGItemImgWrap {
    width: 50%;
  }
  .TMMNicknameGenerator .TMMNGItemImgWrap .TMMNGItemImg img {
    min-height: 450px;
    height: 100%;
  }
  .TMMNicknameGenerator .TMMNGItemQuizWrap {
    width: 50%;
  }
  .TMMNicknameGenerator .TMMNGItemHeader {
    text-align: left;
    padding-left: 1.5em;
    margin-bottom: 1.5em;
  }
  .TMMNicknameGenerator .TMMNGItemAnswer [type=radio] + label {
    text-align: left;
  }
  .TMMNicknameGenerator .TMMNGFooterWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 7;
  }
  .TMMNicknameGenerator .TMMNGFooterWrap .TMMNGFooterSide {
    text-align: left;
    padding-left: 2em;
  }
}
.questIconListItem {
  padding: 0.5em;
  transition: all 500ms ease;
}

.questIconListItem b {
  cursor: pointer;
}

.questIconListItem svg {
  max-width: 2.5em;
}

.questIconListItem b:hover {
  opacity: 0.9;
  transition: all 300ms ease;
}/*# sourceMappingURL=style.css.map */