/*
NicknameGeneratorItem 
NicknameGeneratorItemActive
NicknameGeneratorItemWide
NicknameGeneratorItemStack
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: ronnia, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dn {
  display: none !important;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.TMMNicknameGenerator {
  font-size: 16px;
  margin: auto;
  background: #242424;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #afafaf;
}
.TMMNicknameGenerator:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png") url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_verticalSide.png");
}
.TMMNicknameGenerator.TMMNicknameGeneratorDone {
  max-width: 530px;
}
.TMMNicknameGenerator img {
  max-width: 100%;
}
.TMMNicknameGenerator .TMMNGItemImgWrap {
  position: relative;
}
.TMMNicknameGenerator .TMMNGItemImg {
  font-size: 0;
  position: relative;
  height: 100%;
}
.TMMNicknameGenerator .TMMNGItemImg img {
  max-width: 100%;
  min-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.TMMNicknameGenerator .TMMNGItemImg:after {
  content: " ";
  position: absolute;
  inset: -2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100% 100%;
  background-image: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png");
}
@media (min-width: 530px) {
  .TMMNicknameGenerator .TMMNGItemImg:after {
    background-image: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_verticalSide.png");
  }
}
.TMMNicknameGenerator .NicknameGeneratorItem {
  height: 100% !important;
}
.TMMNicknameGenerator .NicknameGeneratorItemStack .TMMNGItemImg:after {
  background-image: url("https://the-mob-museum.s3.amazonaws.com/share/nickname/v1/GreyOverlay_vertical.png");
}
.TMMNicknameGenerator .TMMNGItemHeader {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 900;
  padding: 0.5em;
  text-align: center;
}
.TMMNicknameGenerator .TMMNGItemHeader h2 {
  text-transform: uppercase;
  margin-top: 2rem;
  text-align: center;
}
.TMMNicknameGenerator .TMMNGItemHeader h2 span {
  display: inline-block;
}
.TMMNicknameGenerator .TMMNGItemAnswer {
  display: flex;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio] {
  display: none;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio] + label {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  width: 90%;
  max-width: 100%;
  border: 1px solid #afafaf;
  padding: 0.5rem 1rem;
  margin: 0 auto 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio] + label:hover {
  background-color: #270404;
}
.TMMNicknameGenerator .TMMNGItemAnswer [type=radio]:checked + label {
  background-color: #850c0f;
}

.TMMNGFooterWrap {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  min-height: 2rem;
  align-items: center;
  padding-bottom: 1.25rem;
}
.TMMNGFooterWrap .TMMNGFooterCenter {
  width: 50%;
  text-align: center;
}
.TMMNGFooterWrap .TMMNGFooterSide {
  width: 25%;
  text-align: center;
}
.TMMNGFooterWrap .TMMNGblank {
  opacity: 0;
}
.TMMNGFooterWrap .TMMNGdots {
  font-size: 0;
}
.TMMNGFooterWrap .TMMNGdots .TMMNGdot {
  display: inline-block;
  width: 0.3333rem;
  height: 0.3333rem;
  background: #ffffff;
  border-radius: 100%;
  margin: 0 3px;
}
.TMMNGFooterWrap .TMMNGdots .TMMNGdotActive {
  transform: scale(1.75);
  background: #850c0f !important;
  outline: 1px solid #850c0f;
  outline-offset: -1px;
}
.TMMNGFooterWrap .TMMNGdots .TMMNGdotDone {
  background: #850c0f !important;
}
.TMMNGFooterWrap .generateNicknameButton {
  background: #850c0f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  outline: 0 !important;
  border: 0;
  font-family: ronnia, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 400;
}

.questResultsSubInfo {
  max-width: 662.5px;
  margin: auto;
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
}
.questResultsSubInfo .questIconList {
  padding: 1rem;
}
.questResultsSubInfo .ResultsSubInfoButtons {
  background-color: #850c0f !important;
  display: inline-block;
  color: #ffffff;
  padding: 0.5rem 1rem;
  text-decoration: unset;
  cursor: pointer;
  text-transform: uppercase;
}

/*
-
*/
.NicknameGeneratorResultsWrap .NicknameGeneratorResults {
  min-height: 350px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10%;
}
.NicknameGeneratorResultsWrap .NicknameGeneratorResults:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
}
.NicknameGeneratorResultsWrap .NNGRBackground {
  z-index: 1;
}
.NicknameGeneratorResultsWrap .NNGRContentWrap {
  z-index: 2;
}

.questIconListItem {
  padding: 0 0.5rem;
  transition: all 500ms ease;
  display: inline-block;
}
.questIconListItem a {
  color: transparent;
}
.questIconListItem b {
  cursor: pointer;
  position: relative;
  overflow: hidden !important;
  display: inline-block;
}
.questIconListItem b:hover {
  opacity: 0.9;
  transition: all 300ms ease;
}
.questIconListItem svg {
  max-width: 2.5em;
}
.questIconListItem iframe {
  padding: 4px;
  position: absolute !important;
  transform: translateY(50%);
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
  transform: scale(3.5) translateY(31%);
  opacity: 0.0001;
}
.questIconListItem .TMMNGItemQuizWrap .fb-share-button.fb_iframe_widget,
.questIconListItem .fb-share-button.fb_iframe_widget > span {
  display: contents;
}

.NNGRBackground {
  position: absolute;
  inset: 0;
}
.NNGRBackground img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.NNGRContentWrap {
  position: relative;
}
.NNGRContentWrap .NNGRContent {
  position: relative;
}
.NNGRContentWrap .NNGRContent .NNGRImage {
  position: relative;
  border: 0.75rem solid #ffffff;
  -webkit-backface-visibility: hidden;
  -webkit-background-clip: content-box;
  box-shadow: 0 1rem 2rem #201912;
  font-size: 0;
  transform: rotate(3deg);
}
.NNGRContentWrap .NNGRUserInfo {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
.NNGRContentWrap .NNGRUserInfo h2,
.NNGRContentWrap .NNGRUserInfo h3 {
  left: -6%;
  padding: 0.25rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.NNGRContentWrap .NNGRUserInfo h2 {
  background: #850c0f;
}
.NNGRContentWrap .NNGRUserInfo h2 .mobName:before {
  content: ' "';
  letter-spacing: 0px;
}
.NNGRContentWrap .NNGRUserInfo h2 .mobName:after {
  content: '" ';
  letter-spacing: 0px;
}
.NNGRContentWrap .NNGRUserInfo h3 {
  background: #ffffff;
  color: #000;
  display: inline-block;
  max-width: 80%;
  display: flex;
  align-items: center;
}
.NNGRContentWrap .NNGRUserInfo h3 span:first-of-type {
  color: #850c0f;
  text-transform: uppercase;
  padding: 0 8px;
  padding-left: 0;
  white-space: nowrap;
}
.NNGRContentWrap .NNGRFooter {
  margin-top: 2em;
}

.NNGRUserInfo {
  font-size: 16px;
}
@media (max-width: 530px) {
  .NNGRUserInfo {
    font-size: 12px;
  }
}
.NNGRUserInfo h2, .NNGRUserInfo h3 {
  margin-bottom: 1em;
}
.NNGRUserInfo h2 {
  font-size: 1.23em;
}
.NNGRUserInfo h3 {
  font-size: 1em;
}

.TMMNGItemTextAnswerWrap {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  justify-content: center;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer {
  flex: 1;
  width: 100%;
  min-width: 200px;
  max-width: 25%;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input {
  width: 100%;
  border: none;
  background-image: none;
  background-color: #242424;
  box-shadow: none;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 0px;
  padding: 1rem 0.5rem 0.25rem 0.15rem;
  color: #ffffff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:focus {
  outline: 0;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill, .TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill:hover, .TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill:focus, .TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #242424 inset !important;
  color: #fff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG {
  background-color: #fff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus {
  background-color: #242424 !important;
  color: #ffffff !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus::-moz-placeholder {
  color: #fff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:focus::placeholder {
  color: #fff;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG::-moz-placeholder {
  color: #850c0f;
  opacity: 1;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG::placeholder {
  color: #850c0f;
  opacity: 1;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:-ms-input-placeholder {
  color: #850c0f;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG::-ms-input-placeholder {
  color: #850c0f;
  font-weight: 600;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:not(:-moz-placeholder-shown) {
  background: transparent !important;
}
.TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer input.errorFilloutInputNG:not(:placeholder-shown) {
  background: transparent !important;
}

.NNGRFooter {
  display: flex;
  justify-content: space-between;
}
.NNGRFooter > div {
  width: 40%;
}
.NNGRFooter > div img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 530px) {
  .TMMNicknameGenerator {
    width: 100%;
    min-height: 55vh;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem {
    display: none;
    min-height: 55vh;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemActive {
    display: flex;
    flex-direction: row-reverse;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemWide .TMMNGItemImgWrap {
    width: 40%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemWide .TMMNGItemQuizWrap {
    width: 60%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack.NicknameGeneratorItemActive {
    display: block !important;
    padding-bottom: 4rem;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack.NicknameGeneratorItemActive .TMMNGItemImgWrap {
    width: 100%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack.NicknameGeneratorItemActive .TMMNGItemQuizWrap {
    width: 100%;
  }
  .TMMNicknameGenerator .NicknameGeneratorItem.NicknameGeneratorItemStack .TMMNGItemImg img {
    max-height: 42.8571428571vh;
    -o-object-position: center;
       object-position: center;
  }
  .TMMNicknameGenerator .TMMNGItemImgWrap {
    width: 50%;
  }
  .TMMNicknameGenerator .TMMNGItemImgWrap .TMMNGItemImg img {
    min-height: 450px;
    height: 100%;
  }
  .TMMNicknameGenerator .TMMNGItemQuizWrap {
    width: 50%;
    padding-bottom: 3rem;
  }
  .TMMNicknameGenerator .TMMNGItemHeader {
    text-align: left;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .TMMNicknameGenerator .TMMNGItemAnswer [type=radio] + label {
    text-align: left;
  }
  .TMMNicknameGenerator .TMMNGFooterWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 7;
  }
  .TMMNicknameGenerator .TMMNGFooterWrap .TMMNGFooterSide {
    text-align: left;
    padding-left: 2.25rem;
  }
  .TMMNicknameGenerator .TMMNGFooterWrap .TMMNGFooterSide.TMMNGback > span {
    cursor: pointer;
  }
}
@media (max-width: 530px) {
  .TMMNGFooterWrap {
    flex-direction: column-reverse;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .TMMNGFooterWrap > * {
    width: 100% !important;
  }
  .TMMNGFooterWrap .TMMNGFooterSide.TMMNGback {
    text-align: left;
    padding-left: 1rem;
  }
  .TMMNGItemTextAnswerWrap {
    flex-direction: column;
  }
  .TMMNGItemTextAnswerWrap .TMMNGItemTextAnswer {
    align-self: center;
    max-width: 350px;
  }
  .NNGRContentWrap .NNGRContent {
    border-width: 0.5rem;
  }
  .NNGRContentWrap .NNGRUserInfo h2,
  .NNGRContentWrap .NNGRUserInfo h3 {
    max-width: 100%;
    padding-right: 1rem !important;
  }
  .TMMNicknameGenerator .TMMNGItemImg img {
    height: 350px !important;
  }
  .TMMNicknameGenerator .TMMNGItemHeader h2 {
    margin-top: 0em !important;
    line-height: 1.2;
    font-size: 1.2em;
    margin-bottom: 0.75em;
  }
}/*# sourceMappingURL=style.css.map */